@font-face {
    font-family: kollektif;
    src: url(fonts/kollektif/Kollektif.ttf);
}

@font-face {
    font-family: bright-retro;
    src: url(fonts/brightretro/bright.otf);
}

@font-face {
    font-family: harlow-solid;
    src: url(fonts/harlowsolid/harlowsolid.ttf);
}

body {
    color: #2C2D30;
    font-family: kollektif;
}

h1 {
    font-family: bright-retro;
    font-size: 64px;
    margin: 0;
}

h2 {
    font-family: harlow-solid;
}

h3 {
    font-family: kollektif;
    font-size: 24px;
}

p {
    font-family: kollektif;
    color: #2C2D30;
}

button {
    padding: 10px 20px;
    margin: 8px 5px;
    border: solid 2px #2C2D30;
    cursor: pointer;
    border-radius: 10px;
    font-family: kollektif;
    font-size: 14px;
}

input[type=reset], input[type=submit], [type=button] {
    padding: 10px 20px;
    margin: 8px 5px;
    border: solid 2px #2C2D30;
    cursor: pointer;
    border-radius: 10px;
    font-family: kollektif;
    font-size: 14px;
}

.bt-reg {
    background-color: #FFFBF8;
    color: #2C2D30;
}

.bt-act {
    background-color: #D34A24;
    color: white;
}

select {
    padding: 10px 20px;
    margin: 8px 5px;
    border: solid 2px #2C2D30;
    cursor: pointer;
    border-radius: 10px;
    font-family: kollektif;
    font-size: 14px;
    width: 100%;
}

option {
    margin-top: 2px;
}

.container {
    display: flex;
}

.menu {
    margin-top: -10px;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #2C2D30;
    border-top: 2px solid #2C2D30;
    text-align: right;
}

.textbox {
    border: 2px solid #2C2D30;
    margin: 20px;
    border-radius: 10px;
    padding: 25px;
    height: 70vh;
    font-size: 18px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    width: 50%;
    display: table-cell;
}

.settings {
    float: right;
    width: 250px;
    height: 100%;
    padding: 25px;
}

.controls {
    text-align: left;
    padding: 10px;
}

.contentwrapper {
    overflow: hidden;
    text-align: left;
    width: 100%;
    height: 90%;
}

.mainwrapper {
    float: left;
    width: calc(100% - 300px);
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    border: 2px solid #2C2D30;
    -webkit-transition: .2s;
    transition-duration: .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D34A24;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D34A24;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #992800;
}

.slider::-moz-range-thumb {
    background: #992800;
}

.status {
    border: 2px solid #2C2D30;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    position: absolute;
    bottom: 20px;
}

.item {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -35px;
}

a {
    text-decoration: none;
    color: #2C2D30;
}

.left-rectangle,
.right-rectangle {
    margin-top: 20px;
    flex-grow: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.color-bar {
    flex-grow: 1;
}

.red {
    background-color: #FFAF00; /* Red */
}

.yellow {
    background-color: #D34A24; /* Yellow */
}

.green {
    background-color: #992800; /* Green */
}

.blue {
    background-color: #3C7F72; /* Blue */
}


.loader {
    border-top: 8px solid #FFAF00;
    border-right: 8px solid #D34A24;
    border-bottom: 8px solid #992800;
    border-left: 8px solid #3C7F72;
    
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;

    display: inline-block;
    vertical-align: middle;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }